.abs {
    top: 0;    left: 0;
    position: absolute;
}

.fix {
    top: 0; left: 0;
    position: fixed;
}
.rel {
    top: 0; left: 0;
    position: relative;
}

.absFull {
    top: 0;    left: 0;
    position: absolute;
    width: 100%; height: 100%;
    display: block;
}

.hidden {
    visibility: hidden;
    display: none;
    opacity: 0;
}

.clickKill {
    cursor: none;
}

.mobile .clickKill {
    display: block;
    cursor: pointer;
}

.TL { top: 0; left: 0; position: absolute; }
.T { top: 0; left: 50%; position: absolute; }
.TR { top: 0; right: 0; position: absolute; }
.L { top: 50%; left: 0; position: absolute; }
.C { top: 50%; left: 50%; position: absolute; }
.HC { left: 50%; transform:translateX(-50%); position: absolute; }
.TC {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.R { top: 50%; right: 0; position: absolute; }
.BL { bottom: 0; left: 0; position: absolute; }
.B { bottom: 0; left: 50%; position: absolute; }
.BR { bottom: 0; right: 0; position: absolute; }
.full { width: 100%; height: 100%; display: block; }
.fullW { width: 100%; }
.fullH { height: 100%; }
.invis { visibility: hidden; opacity: 0; }
.hList { list-style: none; white-space: nowrap;}
.hList li { display: inline-block;  white-space: normal; vertical-align: top;}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@keyframes brightin {
    from {
      filter: brightness(800%) blur(30px);
    }
    to {
        filter: brightness(100%) blur(0px);
        filter:none;
    }
  }
.multiply{
    mix-blend-mode: multiply;
}
.overlay{
    mix-blend-mode: overlay;
}