@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,500,700&display=swap');
// @import url('https://use.typekit.net/wjl0zeh.css');
@import 'helpers';
body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0px;
  min-height: 100vh;
  font-size: 6vw;
  font-family: 'Montserrat', sans-serif;

  // animation-timing-function: ease;
  // animation-direction: normal;
  // animation-iteration-count: 1;
  // animation-fill-mode: forwards;
  // animation-play-state: running;
  // animation: brightin 0.6s;
  background: #09112b;
  transition: background 3s ease;
}
canvas {
  background: transparent;
}
#main {
  // opacity: 0.7;
  overflow: hidden;
  z-index: 2;
}
#intro {
  bottom: 3vh;
  left:50%;
  transform: translateX(-50%);
}

#logo {
  z-index: 500;
  margin: auto;
  width: 155px;
  height: 55px;
  text-align: center;
  // opacity: 0.8;
  background: transparent url('../assets/images/shuniologo_w.svg') center center no-repeat;
  background-size: contain;
  transition: all 0.3s ease;

  @media (hover: hover) {
    &:hover {
      opacity: 1;
    }
  }
}
h1 {
  font-weight: 300;
  font-size: 0.52em;
  line-height: 1.4em;

  text-align: left;
  // font-style: italic;
  color: #efefef;
  transform-origin: 50% -100px;

  strong {
    color: #f8b435;
    // color: #ffd000;
    font-weight: 400;
  }
  span {
    filter: blur(12px);
  }
}
@import 'gradients';
